{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Entry
{% endblock %}

{% block body %}
<h1>Edit {{ title }}</h1>

<form action="{% url 'confirm_edit' %}" method="post">
    {% csrf_token %}
    <input type="text" class="form-control col-6" name="title" autocomplete="off" value="{{title}}" hidden>
    <div class="form-group">
      <label">Markdown Content</label>
      <textarea class="form-control col-11" rows="8" name="content">{{ content }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Confirm Changes</button>
  </form>
{% endblock %}